<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panacea - Eco Bucket</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body style="padding: 20px;">
        <table>
            <tr>
                <th>Food</th>
                <th>No. of times wasted</th>
                <th>Average Waste</th>
            </tr>
        </table>
    </body>
</html>