<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Panacea - Module Reg</title>
    </head>
    <body>
        <h1>Module Reg</h1>
        <br>
        Enter Device Code: <input type="text" placeholder="Enter here..." id="device-code-module-reg">
        <br>
        <br>
        <button id="submit-device-code">Connect</button>
        <script src="{{url_for('static', filename='scripts/module-reg.js')}}"></script>
        <p id="return-back-module-reg"></p>
    </body>
</html>